<p>
  <%= flash[:notice] %>
</p>
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Editing Book</h1>
        <%= form_with model: @book do |f| %>
          <div class="form-group">
            <label for="book_title">Title</label>
            <%= f.text_field :title, class:"form-control book_title" %>
          </div>
          <div class="form-group">
            <label for="book_opinion">Opinion</label>
            <%= f.text_area :Opinion, class: "form-control book_body"%>
          </div>
          <div class="form-group">
            <%= f.submit 'Update Book', class:"btn btn-success" %>
          </div>
        <% end %>
        <td class="show-link"><%= link_to "Show", book_path(book.id) %></td> |
        <td class="Back-link"><%= link_to "Back", root_path(book.id) %></td>
        <a class="book_60832" href="/books/60832">Show</a> |
        <a class="back" href="/books">Back</a>
      </div>
    </div>
  </div>
</main>