<!--投稿の詳細-->
<p>
  <%= flash[:notice] %>
</p>
<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <%= render 'list', user: @book.user %>
        <!--投稿一覧-->
        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          <table class="table">
            <tbody>
              <tr>
                <!--一個だけのとき消す-->
                  <td class="image"><%= image_tag @book.user.get_profile_image(100,100) %><br>
                  <%= link_to user_path(@book.user) do %>
                    <%= @book.user.name %>
                  <% end %>
                  </td>
                  <td class="title"><%= link_to book_path(@book.id) do %>
                    <%= @book.title %>
                  <% end %>
                  </td>
                  <td class="body"> <%= @book.body %> </td>
                <% if @book.user == current_user %>
                  <td class="edit-link"><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success edit_book_61039" %></td>
                  <td class="destroy-link"><%= link_to "Destroy", book_path(@book.id),  class: "btn btn-sm btn-danger destroy_book_61039", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
